<table class="table">
  <thead>
    <tr>
      <th (click)="sort('imdbID')">
        Id <span class="fa" [ngClass]="{ 'fa-sort-desc': isSorted('imdbID') && orderDesc, 'fa-sort-asc': isSorted('imdbID') && !orderDesc }"></span>
      </th>
      <th (click)="sort('Title')">
        Título <span class="fa" [ngClass]="{ 'fa-sort-desc': isSorted('Title') && orderDesc, 'fa-sort-asc': isSorted('Title') && !orderDesc }"></span>
      </th>
      <th (click)="sort('Year')">
        Año <span class="fa" [ngClass]="{ 'fa-sort-desc': isSorted('Year') && orderDesc, 'fa-sort-asc': isSorted('Year') && !orderDesc }"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of results">
      <td>
        <a href="#">{{item.imdbID}}</a>
      </td>
      <td>{{item.Title}}</td>
      <td>{{item.Year}}</td>
    </tr>
  </tbody>
</table>
        