@import url(http://fonts.googleapis.com/css?family=Coustard);
@import url(http://fonts.googleapis.com/css?family=Norican);
body {
  background: url("/img/bg.png") repeat scroll 0 0;
}
.container {
  margin: 0 auto 40px auto;
}
.container .logged-user {
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  font-family: 'Coustard';
  font-size: 18px;
  color: #fff;
}
.container .logged-user i {
  cursor: pointer;
}
.container .hidden {
  display: none;
}
.container .row {
  margin-left: 0;
  margin-right: 0;
}
.container .left {
  float: left;
}
.container h1.title {
  background: #010000;
  background-image: url("/img/bg-statler-waldorf.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  box-shadow: 0 4px 10px #333;
  height: 250px;
  margin: 0 auto 0 auto;
  padding: 30px 0;
  font-family: 'Norican', serif;
  font-weight: bold;
  text-shadow: 5px 5px 1px #808080;
  font-size: 90px;
  text-align: center;
  color: #fff;
  z-index: 100;
  top: 0;
}
.container h1.title span {
  position: relative;
  top: 220px;
}
.container .hr-gold {
  margin: 0;
  background: darkgoldenrod;
  border: none;
  height: 10px;
}
.container .hr-gold.gradient {
  background: darkgoldenrod;
  background: linear-gradient(to bottom, darkgoldenrod 0%, #f1e767 100%);
  height: 5px;
}
.container .hr-gold.top-shadow {
  box-shadow: 0 -4px 10px #333333;
}
.container .hr-gold.bottom-shadow {
  box-shadow: 0 4px 10px #333;
}
.container .hr-crimson {
  margin: 0 0 40px 0;
  box-shadow: 0 4px 10px #333;
  background: #721A04;
  background: linear-gradient(to bottom, #721a04 0%, #cd1c04 100%);
  border: none;
  height: 50px;
}
.container .search {
  font-size: 18px;
  font-family: 'Coustard';
}
.container .search input {
  padding: 4px 20px 4px 8px;
  font-size: 18px;
}
.container .search span {
  position: relative;
  top: -30px;
  float: right;
  right: 12px;
}
.container th {
  cursor: pointer;
}
.container .loader {
  position: relative;
  left: 50%;
  margin: 100px 0;
}
.container .spacer {
  width: 100%;
  margin: 30px 0 10px 0;
  position: relative;
}
.container .spacer .mask {
  overflow: hidden;
  height: 20px;
}
.container .spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 10.41666667px;
  box-shadow: 0 0 8px black;
}
.container .results {
  border-radius: 4px;
  box-shadow: 2px 2px 5px #808080;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}
.tab-control {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}
.tab-control .nav-tabs li a {
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
}
.tab-control .nav-tabs li.active a {
  border-bottom-color: transparent;
}
.tab-control .tab-content {
  padding: 10px;
}
.empty {
  font-size: 80px;
  text-align: center;
}
.empty i {
  margin-top: 65px;
}
.detail .detail-poster,
.detail .detail-info {
  vertical-align: top;
  background-color: white;
  padding: 10px;
  display: table-cell;
  float: none;
}
.detail .detail-poster {
  width: 200px;
}
.detail .detail-poster img {
  width: 200px;
}
.detail .detail-info {
  padding: 10px 30px;
}
.no-reviews {
  text-align: center;
  font-size: 18px;
}
.new-review .row,
.review .row {
  margin-bottom: 6px;
}
.new-review .username,
.review .username {
  font-weight: bold;
}
.new-review .score,
.review .score {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.new-review .score + div,
.review .score + div {
  display: inline-block;
  margin-bottom: 15px;
}
.new-review textarea,
.review textarea {
  width: 400px;
  min-height: 100px;
}
.new-review hr,
.review hr {
  clear: both;
  margin: 0 0 15px 0;
}
.new-review p,
.review p {
  margin: 4px 0;
}
.new-review {
  padding-top: 10px;
}
.review-score label {
  cursor: pointer;
}
.review-score label:before {
  font-family: 'FontAwesome';
  font-size: 20px;
  content: "\f006";
  display: inline-block;
  margin-right: 5px;
  bottom: 1px;
}
.review-score label.hovered:before {
  text-shadow: 1px 1px 2px #bbb;
  content: "\f005";
  color: gold;
}
.review-score label.active:before {
  content: "\f005";
  color: gold;
}
.review-score.disabled label {
  cursor: default !important;
}
.review-score.disabled label:hover:before {
  text-shadow: none !important;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}
.login-modal .modal-content {
  margin-top: 200px;
}
.login-modal .modal-title {
  text-align: center;
  font-family: 'Coustard';
  font-size: 30px;
}
.login-modal .modal-footer {
  text-align: center;
}
.login-modal .form-group {
  margin-bottom: 20px;
}
.login-modal .form-loading {
  text-align: center;
}
.login-modal .form-loading .loader {
  margin: 20px 0;
}
.login-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
}
.modal-backdrop,
login-overlay {
  background: url("/img/bg.png") repeat scroll 0 0;
  opacity: 1 !important;
}