<div class="detail-poster">
  <a *ngIf="hasPoster" href="{{detail && detail.ImdbUrl}}" target="_blank">
    <img src="{{detail && detail.Poster}}" title="{{detail && detail.Title}}" />
  </a>
  <div class="empty" *ngIf="!hasPoster">
    <i class="fa fa-times"></i>
  </div>
</div>
<div class="detail-info">
  <div class="row">
    <label>Título:</label> {{detail && detail.Title}} ({{detail && detail.Year}})
  </div>
  <div class="row">
    <label>Clasificación:</label> {{detail && detail.Rated}}
  </div>
  <div class="row">
    <label>Duración:</label> {{detail && detail.Runtime}}
  </div>
  <div class="row">
    <label>Género:</label> {{detail && detail.Genre}}
  </div>
  <div class="row">
    <label>Director:</label> {{detail && detail.Director}}
  </div>
  <div class="row">
    <label>Actores:</label> {{detail && detail.Actors}}
  </div>
  <div class="row">
    <label>Sinopsis:</label> {{detail && detail.Plot}}
  </div>
  <div class="row">
    <label>País:</label> {{detail && detail.Country}}
  </div>
  <div class="row">
    <label>Premios:</label> {{detail && detail.Awards}}
  </div>
</div>