<label class="logged-user"><i class="fa fa-sign-out"></i></label>
<h1 class="title">
  <span>Los Criticones</span>
</h1>
<hr class="hr-gold gradient top-shadow" />
<hr class="hr-gold" />
<hr class="hr-gold gradient bottom-shadow" />
<hr class="hr-crimson" />