<div class="row search">
  <input placeholder="Buscar..." type="text" [(ngModel)]="searchText" (keyup)="searchKeyup($event)" class="form-control" />
  <span (click)="search()"><i class="fa fa-search"></i></span>
</div>