<div class="container">
  <app-header></app-header>
  <search (searchEvent)="fetchMovies($event)"></search>
  <div class="row" [hidden]="!loading">
    <img class="loader" src="img/loader.gif" alt="Cargando..." />
  </div>
  <div class="row results" *ngIf="results.length">
    <results [results]="results"></results>
  </div>
  <div class="spacer" *ngIf="results.length"><div class="mask"></div></div>
  <div class="row" *ngIf="loadingBottom">
    <img class="loader" src="img/loader.gif" alt="Cargando..." />
  </div>
  <div class="tab-control detail">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a role="tab" data-toggle="tab" href="#detail"><i class="fa fa-film"></i> Ficha</a>
      </li>
      <li role="preentation">
        <a role="tab" data-toggle="tab" href="#reviews"><i class="fa fa-star"></i> Críticas</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="detail">
        <movie-detail [detail]="selectedMovie"></movie-detail>      
      </div>
      <div role="tabpanel" class="tab-pane" id="reviews">
        <movie-reviews [reviews]="reviews"></movie-reviews>
      </div>
    </div>
  </div>
</div>